body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

h2,
h3 {
    color: #7fb630;
}

footer {
    padding: 20px;
    color: white;
    background-color: #597c23;
    font-weight: bold;
}

nav {
    background-color: #597c23;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

header {
    display: inline;
}

.profile header {
    text-align: center;
}

.featured-image {
    max-height: 120px;
    object-fit: fill;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.card p {
    text-align: justify;
}

.jumbotron {
    font-size: 20px;
    padding: 10px;
    background-color: #659127;
    text-align: center;
    color: white;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

.school-level {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.school-level ul {
    padding: 1.5rem 1rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: auto;
    background-color: #659127;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.school-level li {
    list-style-type: none;
}

.school-level li a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.1s ease-in-out;
}

.school-level li a:hover {
    color: #89b0d9;
}

.step_list ol {
    list-style: none;
    counter-reset: step-counter;
    padding-left: 0;
}

.step_list ol li {
    counter-increment: step-counter;
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
}

.step_list ol li::before {
    content: counter(step-counter);
    position: absolute;
    left: 0;
    top: -5px;
    background: #7fb630;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: white;
    border: 2px solid #000000;
}

.step_list ol li::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 15px;
    width: 4px;
    height: 100%;
    background: #659127;
}

.step_list ol li:last-child::after {
    display: none;
}

aside {
    flex: 1;
}

@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }
}